DATABASE_URL=postgres://postgres:pAssW0rd@127.0.0.1:15432/postgres

ENV=production
PORT=6001

EXS_BASE_URL=http://localhost:6001
EXS_WEB_URL=http://localhost:3000
EXS_JWT_SECRET=replace_this_with_a_strong_secret_key
EXS_ENCRYPT_SECRET=replace_this_with_`openssl rand -hex 32`

# SMTP Configuration
EXS_SMTP_HOST=your_smtp_host
EXS_SMTP_PORT=465
EXS_SMTP_FROM=SenderName <SenderMail>
EXS_SMTP_USERNAME=your_smtp_username
EXS_SMTP_PASSWORD=your_smtp_password
